[core]
	autocrlf = true
[user]
	email = pauloelr@gmail.com
	name = Paulo Eduardo
[github]
    user = pauloelr
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    co = checkout
    st = status
    ci = commit
    ca = commit -a
    br = branch
    ba = branch -a
    df = diff
    dfs = diff --cached