[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 7 Console
Comment=Oracle Java 7 Monitoring & Management Console
Exec=/usr/lib/jvm/java-7-oracle/bin/jconsole
Terminal=false
Type=Application
Icon=java
Categories=Application;System;
