[Desktop Entry]
Exec=/usr/lib/jvm/java-7-oracle/bin/jmc
Icon=oracle_java7
Name=Oracle Java 7 Mission Control
StartupNotify=true
Terminal=false
Type=Application
Icon=java
Categories=Development;Java;
