[Desktop Entry]
Name=Python (v2.7)
Comment=Python Interpreter (v2.7)
Exec=/usr/bin/python2.7
Icon=python2.7
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
