[Desktop Entry]
Version=1.0
Name=Browser
GenericName=Web Browser
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
Type=Application
Icon=web-browser
Exec=webbrowser-app %u
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=webbrowser-app
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=web-browsers
X-Screenshot=/usr/share/webbrowser-app/screenshot.png
X-Ubuntu-Splash-Color=#FFFFFF
