[Desktop Entry]
Name=xdiagnose
GenericName=Diagnose Graphics Issues
Comment=X.org Diagnostic and Repair Utility
Exec=pkexec xdiagnose
Icon=xdiagnose
Terminal=false
Type=Application
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=xdiagnose
